@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 44% 93%;
    --foreground: 265 20% 15%;
    --card: 285 44% 98%;
    --card-foreground: 265 20% 15%;
    --popover: 285 44% 98%;
    --popover-foreground: 265 20% 15%;
    --primary: 330 89% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 60% 85%;
    --secondary-foreground: 265 20% 15%;
    --muted: 275 60% 88%;
    --muted-foreground: 265 15% 45%;
    --accent: 275 95% 76%;
    --accent-foreground: 265 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 85%;
    --input: 285 20% 88%;
    --ring: 330 89% 67%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 265 15% 10%;
    --foreground: 285 44% 93%;
    --card: 265 15% 15%;
    --card-foreground: 285 44% 93%;
    --popover: 265 15% 10%;
    --popover-foreground: 285 44% 93%;
    --primary: 330 95% 76%;
    --primary-foreground: 265 15% 10%;
    --secondary: 265 15% 25%;
    --secondary-foreground: 285 44% 93%;
    --muted: 265 15% 25%;
    --muted-foreground: 285 20% 65%;
    --accent: 265 89% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 15% 25%;
    --input: 265 15% 25%;
    --ring: 330 95% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
